@model DoAn.Data.HangHoa

@{
    ViewData["Title"] = "Thêm mới hàng hóa";
}


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai">
                    <option value="">---------Chọn----------</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TenHangHoa" class="control-label"></label>
                <input asp-for="TenHangHoa" class="form-control" />
                <span asp-validation-for="TenHangHoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh" class="control-label"></label>
                <input asp-for="Hinh" type="file" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTiet" class="control-label"></label>
                <textarea asp-for="ChiTiet" class="form-control"></textarea>
                <span asp-validation-for="ChiTiet" class="text-danger"></span>
            </div>


            @*<div class="form-group">
            <label asp-for="DiemReview" class="control-label"></label>
            <input asp-for="DiemReview" class="form-control" />
            <span asp-validation-for="DiemReview" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ChiTiet').summernote({
                placeholder: 'Nhập chi tiết hàng hóa',
                tabsize: 4,
                height:150
            });
        });
    </script>
}
