
@{
    ViewData["Title"] = "Index";
}

<h1>Thống Kê và Biểu Đồ </h1>
<a asp-action="LoaiThongKe" class="btn btn-primary">Theo Loại</a>
<a asp-action="ThangThongKe" class="btn btn-primary">Theo Tháng</a>
<a asp-action="KhachHangThongKe" class="btn btn-primary">Theo Khách Hàng</a>

