
@{
    ViewData["Title"] = "Index";
}

<h1>Thống Kê</h1>
<a asp-action="LoaiThongKe" class="btn btn-primary">Theo Loại</a>
<a asp-action="ThangThongKe" class="btn btn-primary">Theo Tháng</a>
<a asp-action="KhachHangThongKe" class="btn btn-primary">Theo Khách Hàng</a>

<h1>Biểu đồ</h1>
<a asp-action="BieuDoTheoLoai" class="btn btn-primary">Theo Loại</a>
<a asp-action="BieuDoTheoThang" class="btn btn-primary">Theo Tháng</a>
<a asp-action="BieuDoTheoKH" class="btn btn-primary">Theo Khách Hàng</a>

